.container-right {}


.icon-search{

}

.icon-search:hover{
  cursor: pointer;
  color: $color-principal-hover;
}

.user-name p {
  margin: 0;
}

.card-container {
  min-height: 290px !important;
 
}


.card-container:hover  .card-body{
  background-color: rgba(249, 245, 245, 0.606) !important;
}

.card-container:hover .card-footer{
  background-color: rgba(203, 203, 203, 0.482) !important;
}


.card-custom {
  min-height: 290px;



  .card-body {
    cursor: pointer;
    transition: $transition-1;

    .card-custom-image {
      width: 100%;
      height: 100px;
      background-color: rgba(0, 128, 0, 0.356);
      object-fit: cover;

    }

    .card-title {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      gap: 9px;

      /* Hacer medio query max width 992 y sacar esto*/
      max-height: 50px !important;
      height: 50px;
      overflow: hidden;

      i {
        font-size: 5px;
        align-self: start;
        padding-top: 2em;
      }

    }

    .card-tag {
      color: $color-terciario !important;
      background-color: rgba(0, 128, 0, 0.356);
      width: max-content;
      padding: 4px 8px;
      border-radius: 5px;
      font-size: 12px;

    }

    .card-text--description {
      max-height: 70px !important;
      height: 70px;
      overflow: hidden;
    }
  }

  .card-footer{
    transition: $transition-1;
  }
}



@media (max-width: 992px) {
  .container-right {}
}

.projects-title__button{
  background-color: $color-principal;
}




.btn--filter {
  cursor: pointer;
  transition: all 0.2s ease;
  background: unset !important;
}


.btn--filter:hover {
  background-color: $color-principal !important;
}


.btn--filter.active {
  background-color: $color-principal !important;
  color: #fff;
}

#nuevo-proyecto-error, #editar-proyecto-error, #eliminar-proyecto-error, #form-login-error, #form-register-error{
  display: none;
  color: #fff;
}